DJANGO_SECRET_KEY=d4a88f2ca9005b30f2c5143be701576a493aa59ce2dab0bbde138880a9f6a14b
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,uniluk.acadstore.store
DJANGO_CSRF_TRUSTED_ORIGINS=https://uniluk.acadstore.store
MYSQL_DATABASE=uniluk
MYSQL_USER=uniluk
MYSQL_PASSWORD=change_this_password
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
